@import 'resources/foundation/foundation/components/grid';



.hp-rounded-corners{
  border-radius: 120px;
}

#Hp-maincontent{
 min-height: 100vh;
}

.grid__cell-img {
    display: block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    width: 100%;
    height: auto;
}
