@import 'resources/foundation/foundation/components/icon-bar';
//@import 'resources/foundation/foundation/settings';

.hp-icon-bar {
  @include icon-bar(
    $padding: 0rem,
    $icon-size: 1rem 
   
  );
}

// $bar-active-color : rgba(0, 0, 0, 0.3) ,
//$bar-hover-color : blue

.sideBargrid{

min-height : 100vh;
background: #333333;

}

.hp-icon-bar .item>a:hover{
   color: #fefefe;
    background: #2199e8;
}

#sibarmenuBar .menu.nested{
   margin-left:0rem ;
   border-left: 0rem;
    background: #2199e8;
}

#sibarmenuBar .dropdown.menu.vertical>li.opens-right .is-dropdown-submenu{
    color: #fefefe;
   
}

#sibarmenuBar .menu>li>a{
 color: #fefefe;
}

.example-logo {
    display: block;
    max-width: 100%;
    height: 71px;
    margin: 0 auto;
    vertical-align: middle;
}


