
.user-thumbnail{
 // height: auto;
 height: 33px ;
}

.top-bar-left>.menu>li{
    padding-right: 3.1em;
}

.top-bar-right>.menu>li{
    padding-left: 1.1em;
}

.top-bar span.badge {
    font-size: 1rem;
}

.top-bar .dropdown.menu>li a i {
    font-size: 1.7rem;
}


.top-bar .top-bar-left .dropdown.menu>li.opens-right>.is-dropdown-submenu {
    border: 0px solid #cacaca;
    margin-top: 13px;
}

.top-bar .top-bar-right .dropdown.menu>li.opens-left>.is-dropdown-submenu {
    border: 0px solid #cacaca;
    margin-top: 8px;
}
