
{% load i18n staticfiles %}
<!doctype html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html class="no-js" lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>

<head>
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{% block title %}{% endblock %}</title>

<!-- Main Framework foundation css-->
<link rel="stylesheet" href="{% static "hospital/css/framework.css" %}" />

<!-- Vendor styles  -->
<link rel="stylesheet" type="text/css" href="{% static "hospital/fonts/foundation-icon-fonts/foundation-icons.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "hospital/fonts/font-awesome/css/font-awesome.min.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "hospital/fonts/Dripicons/css/dripicons.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "hospital/fonts/typicons.font/src/font/typicons.css" %}" />


<!-- lib css  -->
<link rel="stylesheet" type="text/css" href="{% static "hospital/css/lib.min.css" %}" />

<!-- main css  -->
<link rel="stylesheet" type="text/css" href="{% static "hospital/css/app.css" %}" />



<!-- pace loader -->
<!-- <script  src="{% static "hospital/vendors/PACE/pace.js" %}" ></script>   -->
<link rel="stylesheet" type="text/css" href="{% static "hospital/vendors/PACE/themes/orange/pace-theme-flash.css" %}" />

</head>

<body>


<!-- Start off-canvas-wrapper -->
<div class="off-canvas-wrapper">

<!-- Start off-canvas-wrapper-inner -->
<div class="off-canvas-wrapper-inner"  data-off-canvas-wrapper>

<!-- Start off-canvas right menu  -->
 <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-position="right"></div>
<!-- End of off-canvas right menu  -->

<!-- Start off-canvas content -->
<div class="off-canvas-content" id="" data-off-canvas-content>
	
<!-- preloader -->
<div id="preloader">
<div id="status">&nbsp;</div>
</div>

<div class="grid">
	{% if user.is_authenticated %}
      <sidebarmenu v-ref:leftmenu  logo="{% static "hospital/img/logo.png" %}" :allroutes="routes" ></sidebarmenu>
    <!-- sidebar -->
    {% endif %}
  <!-- main content container -->
  <div class="grid__col-sm-auto grid__col--bleed" id="Hp-maincontent">
	  
	  {% if user.is_authenticated %}
	  <topbar logout="{% url 'logoutapp' %}"></topbar>
      <!-- Topbar -->
      {% endif %}
     
      <div class="row">
      {% block content %}
	    
		
	  {% endblock %}  
      </div>
  
  
  </div>
 <!-- End main content container -->
 
</div>

</div>
<!-- End off-canvas content  -->



</div>
<!-- end of off-canvas-wrapper-inner -->

</div>
<!-- end of off-canvas-wrapper -->



<!-- main javascript library -->
<!-- <script  src="{% static "hospital/js/jquery.js" %}" ></script> -->
<!--<script  src="{% static "hospital/js/jquery.waypoints.min.js" %}" ></script> -->


<!-- foundation javascript -->
<!-- <script  src="{% static "hospital/js/what-input.min.js" %}" ></script>  -->
<!--<script  src="{% static "hospital/js/foundation.min.js" %}" ></script> -->

<!-- lib javascript -->
<!--<script  src="{% static "hospital/js/lib.js" %}" ></script> -->

<!-- main theme javascript -->

<!-- <script  src="{% static "hospital/js/app.js" %}" ></script>  -->
<script  src="{% static "hospital/js/build.js" %}" ></script>



</body>

</html>

