{% extends 'hospital/base.html' %}

{% block content %}
{% if user.is_anonymous %}

  <div class="medium-6 medium-centered large-6 large-centered column ">

    
      <div class="row column log-in-form">
		  <login dashurl="{% url 'dashboard:index' %}"></login>
      </div>
    

  </div>

{% endif %}
{% endblock  %}
