{% load i18n admin_static %}
<!doctype html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html class="no-js" lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>

<head>
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{% block title %}{% endblock %}</title>

<!-- Main Framework foundation css-->
<link rel="stylesheet" href="{% static "hospital/css/framework.css" %}" />

<!-- Vendor styles  -->
<link rel="stylesheet" type="text/css" href="{% static "hospital/fonts/foundation-icon-fonts/foundation-icons.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "hospital/fonts/font-awesome/css/font-awesome.min.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "hospital/fonts/Dripicons/css/dripicons.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "hospital/fonts/typicons.font/src/font/typicons.css" %}" />


<!-- lib css  -->
<link rel="stylesheet" type="text/css" href="{% static "hospital/css/lib.min.css" %}" />

<!-- main css  -->
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
{% block extrastyle %}{% endblock %}
<link rel="stylesheet" type="text/css" href="{% static "hospital/css/app.css" %}" />



<!-- pace loader -->
<script  src="{% static "hospital/vendors/PACE/pace.js" %}" ></script>
<link rel="stylesheet" type="text/css" href="{% static "hospital/vendors/PACE/themes/orange/pace-theme-flash.css" %}" />

{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
  data-admin-utc-offset="{% now "Z" %}">
{% load i18n %}

<!-- Start off-canvas-wrapper -->
<div class="off-canvas-wrapper">

<!-- Start off-canvas-wrapper-inner -->
<div class="off-canvas-wrapper-inner"  data-off-canvas-wrapper>

<!-- Start off-canvas right menu  -->
 <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-position="right"></div>
<!-- End of off-canvas right menu  -->

<!-- Start off-canvas content -->
<div class="off-canvas-content" id="" data-off-canvas-content>
	
<!-- preloader -->
<div id="preloader">
<div id="status">&nbsp;</div>
</div>

<div class="grid">
	{% if user.is_authenticated %}
<!-- left menu -->
  <div v-bind:class="{ 'grid__col-sm-2': sideBargrid2 , 'grid__col-sm-1': sideBargrid1 }" class="grid__col--bleed sideBargrid" data-sticky-container>
	  <img class="example-logo example-logo-sm" src="{% static "hospital/img/logo.png" %}">
       <ul  v-bind:class="{ 'hp-icon-bar': hpIconBar, 'six-up': sixUp }" class="vertical menu dropdown" id="sibarmenuBar" data-dropdown-menu >
		  <li class="item active">
			<a href="#"><i class="fa fa-envelope-o"></i> <span v-bind:class="{  'hide': hpShowicontext }">Dashboard</span></a>
			<ul class="menu vertical nested">
			  <li><a href="#">Item 1A</a></li>
			  <li><a href="#">Item 1B</a></li>
			</ul>
		  </li>
		  <li class="item"><a href="#"><i class="fi-list"></i> <span v-bind:class="{  'hide': hpShowicontext }">Dashboard</span> </a></li>
		  <li class="item">
			<a href="#"><i class="fi-list"></i> </a>
			<ul class="menu vertical nested">
			  <li><a href="#">Item 1A</a></li>
			  <li><a href="#">Item 1B</a></li>
			</ul>
		  </li>
		  <li class="item">
			<a href="#"><i class="fi-list"></i> <span v-bind:class="{  'hide': hpShowicontext }">Dashboard</span></a>
			<ul class="menu vertical nested">
			  <li><a href="#">Item 1A</a></li>
			  <li><a href="#">Item 1B</a></li>
			</ul>
		  </li>
		  <li class="item">
			<a href="#"><i class="fi-list"></i> <span v-bind:class="{  'hide': hpShowicontext }">Dashboard</span></a>
			<ul class="menu vertical nested">
			  <li><a href="#">Item 1A</a></li>
			  <li><a href="#">Item 1B</a></li>
			</ul>
		  </li>
		  <li class="item">
			<a href="#"><i class="fi-list"></i> <span v-bind:class="{  'hide': hpShowicontext }">Dashboard</span></a>
			<ul class="menu vertical nested">
			  <li><a href="#">Item 1A</a></li>
			  <li><a href="#">Item 1B</a></li>
			</ul>
		  </li>
		</ul>
  </div>
  <!-- End left menu -->
  {% endif %}
  <!-- main content container -->
  <div class="grid__col-sm-auto grid__col--bleed" id="Hp-maincontent">
	  {% block usertools %}
	  {% if user.is_authenticated %}
      <div class="top-bar">
		  <div class="top-bar-left">
			
			<ul class="menu ">
			  <li><button class="menu-icon" type="button" v-on:click.stop.prevent="toggleSidebar" ></button></li>
			  <li>
			     <ul class="dropdown menu" data-dropdown-menu>
			  
			  <li>
				<a href="#"> <i class="fa fa-envelope-o"></i> <span class="success badge">1</span> </a>
				<ul class="menu vertical">
				  <li><a href="#">One</a></li>
				  <li><a href="#">Two</a></li>
				  <li><a href="#">Three</a></li>
				</ul>
			  </li>
			  <li><a href="#"><i class="fa fa-bell-o"></i> <span class="warning badge">1</span> </a>
			   <ul class="menu vertical">
				  <li><a href="#">One</a></li>
				  <li><a href="#">Two</a></li>
				  <li><a href="#">Three</a></li>
				</ul>
			  </li>
			 
			</ul>
			  </li>
			  <li><input type="search" placeholder="Search"></li>
			</ul>
		  </div>
		  <div class="top-bar-right">
			  
			<ul class="dropdown menu" data-dropdown-menu data-autoclose="false">
			  <li>
				<a href="#"><img  class="hp-rounded-corners user-thumbnail" src="http://api.randomuser.me/portraits/thumb/women/39.jpg" /> Hi {% firstof user.get_short_name user.get_username %}</a>
				<ul class="menu">
				  <li><a href="#">Item 1A</a></li>
				  <li><a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a></li>
				</ul>
			  </li>
			  <li><button class="menu-icon" type="button" data-open="offCanvasRight"></button></li>
			</ul>
				  
		  </div>
		</div>
      {% endif %}
     {% endblock %}
      <div class="row">
           <!-- Container -->
<div id="container">

        
        {% block branding %}{% endblock %}
        
        

{% block messages %}
{% if messages %}
<ul class="messagelist">{% for message in messages %}
<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
{% endfor %}</ul>
{% endif %}
{% endblock messages %}

<!-- Content -->
<div id="content" class="{% block coltype %}colM{% endblock %}">
{% block pretitle %}{% endblock %}
{% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}

{% block content %}
{% block object-tools %}{% endblock %}
{{ content }}
{% endblock %}

<br class="clear" />
</div>
<!-- END Content -->

{% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->
        </div>
  </div>
 <!-- End main content container -->
 
</div>

</div>
<!-- End off-canvas content  -->



</div>
<!-- end of off-canvas-wrapper-inner -->

</div>
<!-- end of off-canvas-wrapper -->



<!-- main javascript library -->
<script  src="{% static "hospital/js/jquery.js" %}" ></script>
<script  src="{% static "hospital/js/jquery.waypoints.min.js" %}" ></script>


<!-- foundation javascript -->
<script  src="{% static "hospital/js/what-input.min.js" %}" ></script>
<script  src="{% static "hospital/js/foundation.min.js" %}" ></script>

<!-- lib javascript -->
<script  src="{% static "hospital/js/lib.js" %}" ></script>

<!-- main theme javascript -->

<script  src="{% static "hospital/js/app.js" %}" ></script>
<script  src="{% static "hospital/js/build.js" %}" ></script>



</body>

</html>

