
<!doctype html>
<html class="no-js" lang="en">

<head>
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static "foundation-sites/dist/foundation.css" %}" />

    <!-- Custom styles for this template -->
   
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/style.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "foundation-icon-fonts/foundation-icons.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "font-awesome/css/font-awesome.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "Dripicons/css/dripicon.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "typicons.font/src/font/typicons.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "hospital/css/theme.css" %}" />
    
    <!-- pace loader -->
    <script  src="{% static "PACE/pace.js" %}" ></script>
    <link rel="stylesheet" type="text/css" href="{% static "PACE/css/themes/orange/pace-theme-flash.css" %}" />
    
     <!-- slicknav menu -->
    <link rel="stylesheet" type="text/css" href="{% static "slicknav/dist/slicknav.css" %}" />
    
     <!--  fakeLoader css -->
    <link rel="stylesheet" type="text/css" href="{% static "fakeLoader/fakeLoader.css" %}" />
    
    <!-- Custom styles -->
<link rel="stylesheet" type="text/css" href="{% static "hospital/css/dashboard.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "hospital/css/style.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "hospital/css/theme.css" %}" />
  

</head>

<body>
    <!-- preloader -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <!-- End of preloader -->

    <div class="off-canvas-wrap" data-offcanvas>
        <!-- right sidebar wrapper -->
        <div class="inner-wrap">


            <!-- Right sidemenu -->
            <div id="skin-select">
                <!--      Toggle sidemenu icon button -->
                <a id="toggle">
                    <span class="fa icon-menu"></span>
                </a>
                <!--      End of Toggle sidemenu icon button -->

                <div class="skin-part">
                    <div id="tree-wrap">
                        <!-- Profile -->
                        <div class="profile">
                            <img alt="" class="" src="./img/logo.png">
                            <h3>EDUMIX <small>1.2</small></h3>

                        </div>
                        <!-- End of Profile -->

                        <!-- Menu sidebar begin-->
                        <div class="side-bar">
                            <ul id="menu-showhide" class="topnav slicknav">
                                <li>
                                    <a id="menu-select" class="tooltip-tip" href="index.html" title="Dashboard">
                                        <i class="icon-monitor"></i>
                                        <span>Dashboard</span>

                                    </a>

                                </li>
                                <li>
                                    <a class="tooltip-tip" href="#">
                                        <i class=" icon-window"></i>
                                        <span>Layout<small class="side-menu-noft">New</small></span>

                                    </a>
                                    <ul>
                                        <li>
                                            <a href="sidebar-fixed.html">Sidebar Fixed</a>
                                        </li>  
                                        <li>
                                            <a href="all-fixed.html">All Fixed</a>
                                        </li>
                        
                                    </ul>
                                </li>

                                <li>
                                    <a class="tooltip-tip" href="#" title="Mail">
                                        <i class=" icon-preview"></i>
                                        <span>Skin</span>

                                    </a>
                                    <ul>

                                        <li>
                                            <a href="blue-skin.html" title="Black Skin">Blue Skin</a>
                                        </li>
                                        <li>

                                            <a href="white-skin.html" title="White Skin">White Skin</a>
                                        </li>
                                        <li>

                                            <a href="green-skin.html" title="Blue Skin">Green Skin</a>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a class="tooltip-tip" href="#" title="Mail">
                                        <i class=" icon-mail"></i>
                                        <span>mail</span>

                                    </a>
                                    <ul>
                                        <li>
                                            <a href="mail.html" title="Inbox">Inbox
                                                 <div class="noft-blue bg-red" style="display: inline-block; float: none;">256</div>
                                            </a>
                                        </li>
                                        <li>

                                            <a href="compose.html" title="Compose">Compose</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-document-new"></i>
                                        <span>Page&nbsp;
                                    <small class="side-menu-noft bg-blue">hot</small></span>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="bootstrap/index.html">Bootstrap<div class="noft-blue bg-red" style="display: inline-block; float: none;"><strong>NEW</strong></div></a>
                                        </li>
                                         <li>
                                            <a href="blog-list.html">Blog List</a>
                                        </li>
                                        <li>
                                            <a href="blog-detail.html">Blog Detail</a>
                                        </li>
                                        <li>
                                            <a href="gallery.html">Gallery</a>
                                        </li>
                                        <li>
                                            <a href="calendar.html" title="Calender">Calendar</a>
                                        </li>
                                        <li>
                                            <a href="master.html" title="Chart">Blank Page</a>
                                        </li>
                                        

                                    </ul>
                                </li>
                                <li>
                                    <a class="tooltip-tip" href="#" title="UI">
                                        <i class="icon-align-justify"></i>
                                        <span>UI&nbsp;
                                    <small class="side-menu-noft">new</small></span>
                                    </a>
                                    <ul>

                                        <li>
                                            <a href="element.html" title="Element">Element</a>
                                        </li>
                                        <li><a href="button.html" title="Button">
                                            Button
                                        </a>
                                        </li>
                                        <li>
                                            <a href="tab.html" title="Tab & Accordion">Tab & Accordion</a>
                                        </li>
                                        <li>
                                            <a href="typography.html" title="Typography">
                                                
                                                Typography
                                            </a>
                                        </li>
                                        <li>
                                            <a href="panel.html" title="panel">Panel</a>
                                        </li>

                                        <li>
                                            <a href="grids.html" title="Grids">Grids</a>
                                        </li>
                                        <li>
                                            <a href="chart.html" title="Chart">Chart</a>
                                        </li>


                                    </ul>
                                </li>


                                <li>
                                    <a href="#">
                                        <i class="fontello-doc-1"></i>
                                        <span>Form&nbsp;  <small class="side-menu-noft">new</small></span>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="form-element.html" title="Form Elements">Form Elements</a>
                                        </li>
                                        <li>
                                            <a href="andvance-form.html" title="Andvance Form">Andvance Form</a>
                                        </li>
                                        <li>
                                            <a href="text-editor.html" title="Text Editor">Text Editor</a>
                                        </li>
                                        <li>
                                            <a href="file-upload.html" title="File Upload">File Upload</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class=" icon-view-list-large"></i>
                                        <span>Tables</span>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="table-static.html" title="Table Static">Table Static</a>
                                        </li>
                                        <li>
                                            <a href="table-dynamic.html" title="Table Dynamic">Table Dynamic</a>

                                        </li>

                                    </ul>
                                </li>
                                <li>
                                    <a class="tooltip-tip" href="icon.html" title="Icons">
                                        <i class="fontello-print"></i>
                                        <span>Icons</span>

                                    </a>
                                </li>

                                <li>
                                    <a class="tooltip-tip" href="#" title="Extra">
                                        <i class="fontello-beaker"></i>
                                        <span>Extra</span>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="invoice.html" title="Invoice">Invoice</a>
                                        </li>
                                        <li>
                                            <a href="pricing_table.html" title="Pricing Table">Pricing Table</a>
                                        </li>
                                        <li>
                                            <a href="time-line.html" title="Time Line">Time Line</a>
                                        </li>
                                        <li>
                                            <a href="login.html" title="Chart">Login</a>
                                        </li>
                                        <li>
                                            <a href="map.html" title="Lock Screen">Map</a>
                                        </li>
                                        <li>
                                            <a href="404.html" title="404 Error Page">404 Error Page</a>
                                        </li>
                                        <li>
                                            <a href="500.html" title="500 Error Page">500 Error Page</a>
                                        </li>

                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- end of Menu sidebar  -->
                        <ul class="bottom-list-menu">
                            <li>Settings <span class="icon-gear"></span>
                            </li>
                            <li>Help <span class="icon-phone"></span>
                            </li>
                            <li>About Edumix <span class="icon-music"></span>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- end of Rightsidemenu -->



            <div class="wrap-fluid" id="paper-bg">
                <!-- top nav -->
                <div class="top-bar-nest">
                    <nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false">
                        <ul class="title-area left">


                            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a>
                            </li>
                        </ul>

                        <section class="top-bar-section ">
                            <!-- Right Nav Section -->
                            <ul class="left">
                                <li class="has-dropdown bg-white">
                                    <a class="bg-white" href="#"><i class="text-green fa fa-envelope"></i>&nbsp;<span class="label edumix-msg-noft">84</span></a>
                                    <ul class="dropdown dropdown-nest">
                                        <li class="top-dropdown-nest"><span class="label round bg-green">MESSAGE</span>
                                        </li>
                                        <li class="bg-blue">
                                            <a href="#">
                                                <h3 class=" text-black"> Big Boss<b class="text-red fontello-record" ></b><span>Just Now<small></small></span>
                                                </h3>
                                                <p class=" text-black">Important task!</p>
                                            </a>
                                        </li>


                                        <li>
                                            <div class="slim-scroll">

                                                <div>
                                                    <a href="#">
                                                        <h3>Noel A. Riley<b class="text-green fontello-record" ></b><span>12:23<small>PM</small></span>
                                                </h3>
                                                        <p>Dua dua sayang adik kakak</p>
                                                    </a>
                                                </div>
                                                <div>
                                                    <a href="#">
                                                        <h3>Shirley J. Carneal<b class="text-gray fontello-record" ></b><span>10:11<small>PM</small></span>
                                                </h3>
                                                        <p>Tiga tiga sayang kekasihku</p>
                                                    </a>
                                                </div>
                                                <div>
                                                    <a href="#">
                                                        <h3>Paul L. Williamsr<b class="text-gray fontello-record" ></b><span>Yesterday</span>
                                                </h3>
                                                        <p>Empat empat sayang semuanya</p>
                                                    </a>
                                                </div>
                                                <div>
                                                    <a href="#">
                                                        <h3>William L. Wilcox<b class="text-gray fontello-record" ></b><span>2 Days Ago</span>
                                                </h3>
                                                        <p>Yang jomblo kasian deh lu</p>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="active right">
                                            <a href="#">
                                                <div class="label bg-white">View All</div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-dropdown bg-white">
                                    <a class="bg-white" href="#"><i class="text-blue fa fa-bell" ></i> <span class="label edumix-noft">45</span></a>
                                    <ul class="dropdown dropdown-nest">
                                        <li class="top-dropdown-nest"><span class="label round bg-blue">ALERT</span>
                                        </li>
                                        <li class="bg-black text-black">
                                            <i class="icon-warning"></i>
                                            <a href="#">
                                                <h3 class="text-black">Sticky Very Important<span class="text-red fontello-record" ></span></h3>
                                                <p class="text-black">1 minute ago</p>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="slim-scroll">
                                                <div>
                                                    <i class="fontello-megaphone"></i>
                                                    <a href="#">
                                                        <h3>Announcements <span class="text-green fontello-record" ></span>
                                                </h3>
                                                        <p>Just Now !</p>
                                                    </a>
                                                </div>
                                                <div>
                                                    <i class="  fontello-attach-1"></i>
                                                    <a href="#">
                                                        <h3>Complete your profile<span class="text-yellow fontello-record" ></span>
                                                </h3>
                                                        <p>2 Minute Ago</p>
                                                    </a>
                                                </div>
                                                <div>
                                                    <i class="  fontello-calendar-1"></i>
                                                    <a href="#">
                                                        <h3>New Schedule Realease<span class="text-yellow fontello-record" ></span>
                                                </h3>
                                                        <p>30 Minute ago</p>
                                                    </a>
                                                </div>
                                                <div>
                                                    <i class="fontello-database-1"></i>
                                                    <a href="#">
                                                        <h3>New Student Data<span class="text-orange fontello-record" ></span>
                                                </h3>
                                                        <p>1 Hour ago</p>
                                                    </a>
                                                </div>
                                                <div>
                                                    <i class="fontello-graduation-cap"></i>
                                                    <a href="#">
                                                        <h3>Graduate Student List<span class="fontello-record" ></span>
                                                </h3>
                                                        <p>2 Days ago</p>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="active right">
                                            <a href="#">
                                                <div class="label bg-white">View All</div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- Left Nav Section -->
                            <ul class="left">

                                <!-- Search | has-form wrapper -->
                                <li class="has-form bg-white">
                                    <div class="row collapse">

                                        <div class="large-12 columns">
                                            <div class="dark"> </div>
                                            <input class="input-top" type="text" placeholder="search">
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            <ul class="right">
                                <li class=" has-dropdown bg-white">
                                    <a class="bg-white" href="#"><img alt="" class="admin-pic img-circle" src="http://api.randomuser.me/portraits/thumb/men/28.jpg"><span class="admin-pic-text text-gray">Hi, Dave Mattew </span>
                                    </a>

                                    <ul class="dropdown dropdown-nest profile-dropdown">

                                        <li>
                                            <i class="icon-user"></i>
                                            <a href="#">
                                                <h4>Profile<span class="text-aqua fontello-record" ></span></h4>
                                            </a>
                                        </li>
                                        <li>
                                            <i class="icon-folder-open"></i>
                                            <a href="#">
                                                <h4>Account<span class="text-blue fontello-record" ></span></h4>
                                            </a>
                                        </li>
                                        <li>
                                            <i class="icon-upload"></i>
                                            <a href="login.html">
                                                <h4>Logout<span class="text-dark-blue fontello-record" ></span></h4>
                                            </a>
                                        </li>

                                        <li class="active right">
                                            <a href="#">
                                                <div class="label bg-white">More</div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="bg-white">
                                    <a class="right-off-canvas-toggle bg-white text-gray" href="#"><span style="font-size:13px" class="icon-view-list" ></span></a>
                                </li>
                            </ul>
                        </section>
                    </nav>
                </div>
                <!-- end of top nav -->

                <!-- breadcrumbs -->
                <ul class="breadcrumbs">
                    <li><a href="#"><span class="entypo-home"></span></a>
                    </li>
                    <li>Dashboard
                    </li>
                    <!--   <ul class="right inline-list">
                        <li>Help Center</a>
                        </li>
                        <li>Mail Support
                        </li>
                    </ul> -->
                </ul>
                <!-- end of breadcrumbs -->



                <!-- Container Begin -->
                <div class="row" style="margin-top:-20px">
                    <div class="large-8 columns">
                        <div class="box bg-transparent ">
                            <!-- /.box-header -->
                            <div class="box-header no-pad bg-transparent">

                                <h3 style="margin-bottom:20px;" class="box-title">
                                    <span>ACTIVE STUDENTS</span>
                                </h3>


                            </div>
                            <div class="box-body no-pad">

                                <div id="line-chart" style="height: 235px;"></div>

                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>

                    <div class="large-4 columns">
                        <div class="box bg-transparent ">
                            <!-- /.box-header -->
                            <div class="box-header no-pad bg-transparent">

                                <h3 style="margin:0 20px 0 -5px;" class="box-title">
                                    <span>STATS</span>
                                </h3>


                            </div>
                            <div style="margin:15px 0 0" class="box-body no-pad">

                                <div class="stats-wrap">
                                    <h2><b class="counter-up" style="color:#666;">65,800</b> <span  style="background:#666;" >+<b  class="counter-up">20</b>%</span></h2>
                                    <p class="text-grey">Total students<small>This Year</small>
                                    </p>

                                    <h4><b class="counter-up" style="color:#888;">1,204</b> <span style="background:#888;">+<b class="counter-up">5</b>%</span></h4>
                                    <p>Graduate <small>This week</small>
                                    </p>

                                    <h4 style="color:#333;"><b class="counter-up">2,690</b> <span  style="background:#333;">+<b class="counter-up">12,5</b></span></h4>
                                    <p>New students<small>This Month</small>
                                    </p>

                                </div>

                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                </div>



                <div class="row">
                    <div class="large-6 columns">
                        <div class="your-account">
                            <div class="row">
                                <div class="medium-3 columns">
                                    <!-- <div class="circle-progress"></div> -->
                                    <div class="circlestat" data-dimension="90" data-text="55%" data-width="8" data-fontsize="16" data-percent="55" data-fgcolor="#222" data-border="5" data-bgcolor="#D5DAE6" data-fill="#FFF"></div>
                                </div>
                                <div class="medium-9 columns ">
                                    <div style="margin:0 10px;padding:0 0 0 20px" class="summary-border-left">
                                        <h4>Your Account isn't complete!</h4>
                                        <h6>You must <strong>complete</strong> this issues.</h6>
                                        <ul>
                                            <li class="label round bg-green"><a href="#"><i class="text-white fontello-location"></i></a>
                                            </li>
                                            <li class="label round bg-green"><a href="#"><i class="text-white fontello-user-add"></i></a>
                                            </li>
                                            <li class="label round bg-green"><a href="#"><i class="text-white fontello-loop"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="large-2 columns">
                        <div class="bg-complete-profile">
                            <span class="bg-green fontello-wallet"></span>
                            <!--   <img src="img/bag.png"> -->
                            <h6 class="bg-black text-white"><strong>Your Balance</strong></h6>
                        </div>

                    </div>
                    <div class="large-2 columns">
                        <div class="bg-complete-profile">
                            <span class="bg-green  fontello-doc-1"></span>
                            <!-- <img src="img/box.png"> -->
                            <h6 class="bg-black text-white">General Info</h6>
                        </div>

                    </div>
                    <div class="large-2 columns">
                        <div class="bg-complete-profile">
                            <span class="bg-green  fontello-params"></span>
                            <!--  <i class="img/count.png"></i> -->
                            <h6 class="bg-black text-white">Main Setting</h6>
                        </div>

                    </div>

                </div>


                <!-- Widget  -->
                <div class="row">

                    <div class="large-4 columns">

                        <div class="box">
                            <div class="box-header bg-transparent">
                                <!-- tools box -->
                                <div class="pull-right box-tools">

                                    <span class="box-btn" data-widget="collapse"><i class="icon-minus"></i>
                                    </span>
                                    <span class="box-btn" data-widget="remove"><i class="icon-cross"></i>
                                    </span>
                                </div>
                                <h3 class="box-title"><i class="icon-graph-pie"></i>
                                    <span>SUMMARY</span>
                                </h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body " style="display: block;">


                                <div style="margin:0" class="row summary-border-top">
                                    <div class="large-6 columns">
                                        <div class="summary-nest">
                                            <h2 class="text-black"><span class="counter-up">132</span><small>K</small></h2>
                                            <p>Women</p>
                                        </div>

                                    </div>
                                    <div class="large-6 columns summary-border-left">
                                        <div class="summary-nest">
                                            <h2 class="text-black"><span class="counter-up">160</span><small>K</small></h2>
                                            <p>Man</p>
                                        </div>
                                    </div>
                                </div>

                                <div style="margin:0" class="row">
                                    <div class="large-6 columns">
                                        <div class="summary-nest summary-pad-nest">
                                            <span class="text-center"><canvas height="70" width="70" id="partly-cloudy-day"></canvas></span>
                                        </div>

                                    </div>

                                    <div class="large-6 columns">
                                        <div class="summary-nest summary-pad-nest">
                                            <h4 class="text-left"><span class="counter-up">05</span>/<span class="counter-up">12</span>/<span class="counter-up">2014</span></h4>
                                            <p class="text-left">Today</p>
                                        </div>

                                    </div>


                                </div>

                                <div style="margin:0" class="row summary-border-bottom">
                                    <div class="large-6 columns">
                                        <div class="summary-nest summary-pad-nest">
                                            <h2 class="text-black "><span class="counter-up">82</span><small>%</small></h2>
                                            <p>Graduate</p>

                                        </div>

                                    </div>
                                    <div class="large-6 columns summary-border-left">
                                        <div class="summary-nest summary-pad-nest">
                                            <h2 class="text-black"><span class="counter-up">24</span><small>th</small></h2>
                                            <p>Avarage</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- end .timeline -->


                        </div>
                        <!-- /.box-body -->
                    </div>


                    <div class="large-4 columns">
                        <!-- timeline item -->
                        <div class="box">
                            <div class="box-header bg-transparent">
                                <!-- tools box -->
                                <div class="pull-right box-tools">

                                    <span class="box-btn" data-widget="collapse"><i class="icon-minus"></i>
                                    </span>
                                    <span class="box-btn" data-widget="remove"><i class="icon-cross"></i>
                                    </span>
                                </div>
                                <h3 class="box-title"><i class="icon-view-list"></i>
                                    <span>EVENTS</span>
                                </h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body" style="display: block;">
                                <div class="events-nest">
                                    <div class="bg-green text-black">
                                        <h1 class="text-black"><b class="counter-up-fast">25</b></h1>
                                        <span>3 Event</span>
                                        <p>Monday <i class="fontello-record"></i> Februari 2015</p>

                                    </div>
                                    <ul>
                                        <li>
                                            <h4><span class="counter-up-fast">08</span>:00<small>PM</small></h4>
                                            <p>Mathematic Lesson <i class="icon-download"></i><i class="  icon-document-new"></i><i class="icon-heart"></i>
                                            </p>
                                        </li>
                                        <li>
                                            <h4><span class="counter-up-fast">09</span>:<span class="counter-up-fast">30</span><small>PM</small></h4>
                                            <p>Meeting With Josh<i class="icon-download"></i><i class="  icon-document-new"></i><i class="icon-heart"></i>
                                            </p>
                                        </li>
                                        <li>
                                            <h4><span class="counter-up-fast">12</span>:<span class="counter-up-fast">15</span><small>PM</small></h4>
                                            <p>Launch time<i class="icon-download"></i><i class="  icon-document-new"></i><i class="icon-heart"></i>
                                            </p>
                                        </li>


                                    </ul>

                                </div>




                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>

                    <div class="large-4 columns">
                        <div class="box">
                            <div class="box-header bg-transparent">
                                <!-- tools box -->
                                <div class="pull-right box-tools">

                                    <span class="box-btn" data-widget="collapse"><i class="icon-minus"></i>
                                    </span>
                                    <span class="box-btn" data-widget="remove"><i class="icon-cross"></i>
                                    </span>
                                </div>
                                <h3 class="box-title"><i class=" icon-calendar"></i>
                                    <span>SCHOOL TIMETABLE</span>
                                </h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body" style="display: block;">
                                <div class="school-timetable">
                                    <hr>
                                    <h5><strong>English </strong>with<i> William Shakespear</i></h5>
                                    <h6><i class=" fontello-home-outline"></i> Room <span class="bg-green">104 B</span></h6>
                                    <h6><i class=" fontello-clock"></i> Mon, October 21st<span class="bg-black">10.00 AM - 12.00 AM</span></h6>

                                    <ul>
                                        <li><img alt="" class="chat-pic" src="http://api.randomuser.me/portraits/thumb/men/10.jpg">
                                        </li>
                                        <li><img alt="" class="chat-pic" src="http://api.randomuser.me/portraits/thumb/women/11.jpg">
                                        </li>
                                        <li><img alt="" class="chat-pic" src="http://api.randomuser.me/portraits/thumb/women/12.jpg">
                                        </li>
                                        <li><img alt="" class="chat-pic" src="http://api.randomuser.me/portraits/thumb/men/13.jpg">
                                        </li>
                                        <li><span class="fontello-cw"></span>
                                        </li>
                                    </ul>
                                    <hr>
                                    <h5><strong>Mathematic </strong>with<i> Albert Enstein</i></h5>
                                    <h6><i class=" fontello-home-outline"></i> Room <span class="bg-green">98 C</span></h6>
                                    <h6><i class=" fontello-clock"></i> Fri, November 1st<span class="bg-black">09.00 AM - 10.00 AM</span></h6>

                                    <ul>
                                        <li><img alt="" class="chat-pic" src="http://api.randomuser.me/portraits/thumb/women/14.jpg">
                                        </li>
                                        <li><img alt="" class="chat-pic" src="http://api.randomuser.me/portraits/thumb/women/15.jpg">
                                        </li>
                                        <li><img alt="" class="chat-pic" src="http://api.randomuser.me/portraits/thumb/women/16.jpg">
                                        </li>
                                        <li><img alt="" class="chat-pic" src="http://api.randomuser.me/portraits/thumb/men/17.jpg">
                                        </li>
                                        <li><i style="margin-top:-40px" class=" fontello-flickr"></i>
                                        </li>
                                    </ul>
                                    <hr>

                                </div>




                            </div>
                            <!-- /.box-body -->
                        </div>

                    </div>
                    <!-- /.box -->
                </div>
                <!-- End of Widget  -->



                <footer>
                    <div id="footer">Copyright &copy; 2015 <a href="http://themeforest.net/user/matirasa">Matirasa</a> Made with <i class="fontello-heart-1 text-green"></i></div>

                </footer>
            </div>

            <!-- End of Container Begin -->








            <!-- Right Menu -->
            <aside class="right-off-canvas-menu">
                <!-- whatever you want goes here -->
                <ul class="off-canvas-list">
                    <li>
                        <label class="bg-transparent" style="padding:25px 20px"><span class="label round bg-green">online</span><i class=" icon-gear right"></i>
                        </label>
                    </li>
                    <li>
                        <a href="#"><img alt="" class="chat-pic" src="http://api.randomuser.me/portraits/thumb/men/25.jpg"><b>Walter M. Reed</b>
                            <br>Hi, there...</a>
                    </li>
                    <li>
                        <a href="#"><img alt="" class="chat-pic" src="http://api.randomuser.me/portraits/thumb/women/26.jpg"><b>Evelyn G. Thrailkill</b>
                            <br>Ok, good luck!</a>
                    </li>
                    <li>
                        <a href="#"><img alt="" class="chat-pic" src="http://api.randomuser.me/portraits/thumb/men/27.jpg"><b>Michael L. Merchant</b>
                            <br>Do you receive my email?</a>
                    </li>

                    <li>
                        <a href="#"><img alt="" class="chat-pic" src="http://api.randomuser.me/portraits/thumb/men/29.jpg"><b>James S. Houchin</b>
                            <br>Thak you, you're wellcome</a>
                    </li>

                    <li>
                        <label class="bg-transparent" style="padding:25px 20px"><span class="label round bg-opacity-white">offline</span><i class="icon-gear right"></i>
                        </label>
                    </li>

                    <li>
                        <a href="#"><img alt="" class="chat-pic chat-pic-gray" src="http://api.randomuser.me/portraits/thumb/men/30.jpg"><b>Allen M. Plant</b>
                            <br>Hi, there...</a>
                    </li>
                    <li>
                        <a href="#"><img alt="" class="chat-pic chat-pic-gray" src="http://api.randomuser.me/portraits/thumb/men/31.jpg"><b>Arthur S. Galindo</b>
                            <br>Hi, there...</a>
                    </li>
                    <li>
                        <a href="#"><img alt="" class="chat-pic chat-pic-gray" src="http://api.randomuser.me/portraits/thumb/women/32.jpg"><b>Joyce T. True</b>
                            <br>Hi, there...</a>
                    </li>
                    <li>
                        <a href="#"><img alt="" class="chat-pic chat-pic-gray" src="http://api.randomuser.me/portraits/thumb/men/33.jpg"><b>Christopher A. Charpentier</b>
                            <br>Hi, there...</a>
                    </li>
                    <li>
                        <a href="#"><img alt="" class="chat-pic chat-pic-gray" src="http://api.randomuser.me/portraits/thumb/women/34.jpg"><b>Teresa M. Boothe</b>
                            <br>Hi, there...</a>
                    </li>


                </ul>
            </aside>
            <!-- close the off-canvas menu -->
            <a class="exit-off-canvas"></a>
            <!-- End of Right Menu -->
        </div>
        <!-- end paper bg -->

    </div>
    <!-- end of off-canvas-wrap -->

    <!-- end of inner-wrap -->



    <!-- main javascript library -->
   <script  src="{% static "jquery/dist/jquery.js" %}" ></script>
   <script  src="{% static "waypoints/lib/jquery.waypoints.min.js" %}" ></script>
   
   
    <!-- foundation javascript -->
    <script  src="{% static "what-input/what-input.min.js" %}" ></script>
    <script  src="{% static "foundation-sites/dist/foundation.min.js" %}" ></script>
    
    <!-- main theme javascript -->
    <script  src="{% static "slim-scroll/slimscroll.js" %}" ></script>
   <script  src="{% static "slicknav/dist/jquery.slicknav.min.js" %}" ></script>
   <script  src="{% static "jquery sliding menu/js/jquery.sliding.menu.js" %}" ></script>
   <script  src="{% static "hospital/js/scriptbreaker-multiple-accordion-1.js" %}" ></script>
   <script  src="{% static "counter-up/jquery.counterup.min.js" %}" ></script>
   <script  src="{% static "circliful/js/circliful.min.js" %}" ></script>
   <script  src="{% static "hospital/js/app.js" %}" ></script>
   
   <!-- additional javascript -->
   <script  src="{% static "velocity/velocity.min.js" %}" ></script>
   <script  src="{% static "NumberProgressBar/number-pb.js" %}" ></script>
   <script  src="{% static "fakeLoader/fakeLoader.min.js" %}" ></script>
   
    

    <script>
    $(document).foundation();
    </script>



</body>

</html>

