
<template>

      <div class="top-bar">
		  <div class="top-bar-left">
			
			<ul class="menu ">
			  <li><button class="menu-icon" type="button" v-on:click.stop.prevent="TobartoggleSidebar" ></button></li>
			  <li>
			     <ul class="dropdown menu" data-dropdown-menu>
			  
			  <li>
				<a href="#"> <i class="fa fa-envelope-o"></i> <span class="success badge">1</span> </a>
				<ul class="menu vertical">
				  <li><a href="#">One</a></li>
				  <li><a href="#">Two</a></li>
				  <li><a href="#">Three</a></li>
				</ul>
			  </li>
			  <li><a href="#"><i class="fa fa-bell-o"></i> <span class="warning badge">1</span> </a>
			   <ul class="menu vertical">
				  <li><a href="#">One</a></li>
				  <li><a href="#">Two</a></li>
				  <li><a href="#">Three</a></li>
				</ul>
			  </li>
			 
			</ul>
			  </li>
			  <li><input type="search" placeholder="Search"></li>
			</ul>
		  </div>
		  <div class="top-bar-right">
			  
			<ul class="dropdown menu" data-dropdown-menu data-autoclose="false">
			  <li>
				<a href="#"><img  class="hp-rounded-corners user-thumbnail" src="http://api.randomuser.me/portraits/thumb/women/39.jpg" /> Hi </a>
				<ul class="menu">
				  <li><a href="#">Item 1A</a></li>
				  <li><a href="{{ logout }}">Logout</a></li>
				</ul>
			  </li>
			  <li><button class="menu-icon" type="button" data-open="offCanvasRight"></button></li>
			</ul>
				  
		  </div>
		</div>
      
</template>

<script>
module.exports = {
   props: ['logout'], 
   
	methods : {
	
	    TobartoggleSidebar: function() {
	     //alert('jimmy');
	     this.$parent.$refs.leftmenu.toggleSidebar();
	     // this.$dispatch('toggleSidebarEvent');
		
		}
	
	}

}
</script>
