<template>
<!-- left menu -->
  <div v-bind:class="{ 'grid__col-sm-2': sideBargrid2 , 'grid__col-sm-1': sideBargrid1 }" class="grid__col--bleed sideBargrid" data-sticky-container>
	  <img  class="example-logo example-logo-sm"  v-bind:src="logo" />
       <ul  v-bind:class="{ 'hp-icon-bar': hpIconBar, 'six-up': sixUp }" class="vertical menu dropdown" id="sibarmenuBar" data-dropdown-menu >
		  
		  <li v-for="route in allroutes" v-link-active  class="item ">
			<a v-link="{path : route.path , exact: true , activeClass: 'active'}" ><i class="fa fa-envelope-o"></i> <span v-bind:class="{  'hide': hpShowicontext }">{{route.name}}</span></a>
		     <ul v-if="route.subRoutes" class="menu vertical nested">
			  <li v-for="subroute in route.subRoutes" v-link-active><a v-link="{path : subroute.fullPath , activeClass: 'active'}">{{ subroute.name }}</a></li>
			</ul>
		  </li>
		  
		</ul>
  </div>
  <!-- End left menu -->     
</template>

<script>
module.exports = {
   
    props: {
	   logo: {
		  type: String,
		  required: true
		},
		allroutes: {
		  type: Object
		}
		
    }, 
    
    data : function(){
	    return {
		   hpIconBar: false,
		   sixUp: false ,
		   sideBargrid2 : true ,
		   sideBargrid1 : false ,
		   hpShowicontext : false 
	   }	
	},
	
	methods : {
	
	  toggleSidebar: function() {
	  
		 //alert('cliff');
		 this.hpIconBar = !this.hpIconBar;
		 this.sixUp = !this.sixUp;
		 this.sideBargrid2 = !this.sideBargrid2;
		 this.sideBargrid1 = !this.sideBargrid1;
		 this.hpShowicontext = !this.hpShowicontext;
		
		}
		
		
	
	} ,
	created: function () {
     
  }
	
	 

}
</script>
