<template>
     <form class="small-12 columns" @submit.prevent="loginauth" >
			 <div  v-bind:class="{'hide' : errors.status}"  class="alert callout small" data-closable="slide-out-right">
			  <h5 class="text-center">LOGIN ERRORS</h5>
			  <p v-for="error in errors.data" track-by="$index"> {{ error }}.</p>
			  
			  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<h4 class="text-center">Log in with you email account</h4>
			<label>Username
			  <input type="text" v-model="username"   placeholder="somebody@example.com">
			</label>
			<label>Password
			  <input type="text" v-model="password"   placeholder="Password">
			</label>
			<input id="show-password" type="checkbox"><label for="show-password">Remember password</label>
			<p><button type="submit" class="button expanded">Log In</button></p>
			<p class="text-center"><a href="#">Forgot your password?</a></p> 
        </form>  
</template>

<script>
module.exports = {
   
    props: ['dashurl'], 
    
    data : function(){
	    return {
		username : '',
		password : '',
		errors : {
		data : [] ,
		status : true
		}
	   }	
	},
	
	methods : {
	  loginauth: function () {
	     console.log(this.username.trim());
	    
	     this.$http.post('/',{username:this.username.trim() , password:this.password.trim() }).then(function (response) {
	           var d = JSON.parse(response.data) ;
	           if(d.status === 'ok' || d.status == 'ok' ){
	               alert('jimmy');
	               this.$set('errors.status', true);
	              // window.location.href=this.dashurl ;
	               location.reload();
	               this.$router.go({name:'dashboard'});
	           }else{
	           console.log(response);
	             
	             this.$set('errors.data', d.errors );
	             //this.$set(data.username, 'jimmyuayuuan');
	             this.$set('errors.status', false)
	           }
	       }, function (response) {

          
         });
	  }
	
	}

}
</script>
