
<template>
<form>
  <div class="row">
    <div class="medium-4 columns media-object stack-for-small">
      <div class="media-object-section">
		  <div class="thumbnail">
			  <img  class="" src="http://api.randomuser.me/portraits/thumb/women/39.jpg" />
		   </div> 
      </div>
    </div>
    <div class="medium-4 columns">
      <label>First Name
        <input type="text" placeholder="First Name">
      </label>
      <label>Last Name
        <input type="text" placeholder="Last Name">
      </label>
     <label>Email
        <input type="text" placeholder="Email">
      </label>
      <label>Phone
        <input type="tel"  class="patientphone" id="patientphone" placeholder="">
      </label>
       <label>Input Label
        <input type="text" placeholder=".medium-6.columns">
      </label>
      
    </div>
    <div class="medium-4 columns">
      <label>Input Label
        <input type="text" placeholder=".medium-6.columns">
      </label>
      <label>Input Label
        <input type="text" placeholder=".medium-6.columns">
      </label>
      <label>Input Label
        <input type="text" placeholder=".medium-6.columns">
      </label>
      <label>Input Label
        <input type="text" placeholder=".medium-6.columns">
      </label>
      <label>Input Label
        <input type="text" placeholder=".medium-6.columns">
      </label>
      
    </div>
  </div>
</form>
      
</template>

<script>
var intlTelInput = require('intlTelInput')

module.exports = {
   
  created: function() {
    $("#patientphone").intlTelInput();
    console.log($("#patientphone").val());
  }
}
</script>
